In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
CityDataToLoad = os.path.join("weather_data","cities.csv")
city_data_df = pd.read_csv(CityDataToLoad)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Kurilsk,RU,2020-07-07 15:01:12,50.68,156.12,50.81,88,0,0.45
1,1,Cassia,BR,2020-07-07 15:01:12,-20.58,-46.92,78.04,34,0,9.24
2,2,Rikitea,PF,2020-07-07 15:01:12,-23.12,-134.97,70.56,81,92,13.94
3,3,Arraial Do Cabo,BR,2020-07-07 15:01:12,-22.97,-42.03,77.00,69,20,8.05
4,4,Georgetown,MY,2020-07-07 15:01:12,5.41,100.34,77.00,94,40,2.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cassia,BR,2020-07-07 15:01:12,-20.58,-46.92,78.04,34,0,9.24
3,3,Arraial Do Cabo,BR,2020-07-07 15:01:12,-22.97,-42.03,77.00,69,20,8.05
4,4,Georgetown,MY,2020-07-07 15:01:12,5.41,100.34,77.00,94,40,2.24
6,6,Albany,US,2020-07-07 15:00:55,42.60,-73.97,77.00,65,89,1.99
10,10,Bathsheba,BB,2020-07-07 15:01:04,13.22,-59.52,86.00,74,75,11.41
15,15,Srivardhan,IN,2020-07-07 15:01:15,18.03,73.02,81.70,84,100,15.32
18,18,Hithadhoo,MV,2020-07-07 15:01:15,-0.60,73.08,84.60,75,86,11.90
25,25,Hamilton,US,2020-07-07 15:00:17,39.18,-84.53,84.99,65,1,2.93
29,29,Mayumba,GA,2020-07-07 15:01:18,-3.43,10.66,76.17,78,89,6.71
30,30,Jamestown,US,2020-07-07 14:59:34,42.10,-79.24,78.01,65,1,6.93

In [28]:
preferred_cities_df.count()

City_ID       224
City          224
Country       221
Date          224
Lat           224
Lng           224
Max Temp      224
Humidity      224
Cloudiness    224
Wind Speed    224
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1            Cassia      BR     78.04 -20.58  -46.92
3   Arraial Do Cabo      BR     77.00 -22.97  -42.03
4        Georgetown      MY     77.00   5.41  100.34
6            Albany      US     77.00  42.60  -73.97
10        Bathsheba      BB     86.00  13.22  -59.52
15       Srivardhan      IN     81.70  18.03   73.02
18        Hithadhoo      MV     84.60  -0.60   73.08
25         Hamilton      US     84.99  39.18  -84.53
29          Mayumba      GA     76.17  -3.43   10.66
30        Jamestown      US     78.01  42.10  -79.24

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cassia,BR,78.04,-20.58,-46.92,Hotel Ancora e Restaurante de Cassia MG
3,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
4,Georgetown,MY,77.00,5.41,100.34,Cititel Penang
6,Albany,US,77.00,42.60,-73.97,
10,Bathsheba,BB,86.00,13.22,-59.52,Atlantis Hotel
15,Srivardhan,IN,81.70,18.03,73.02,Savli Resort/Hotel - Shrivardhan
18,Hithadhoo,MV,84.60,-0.60,73.08,Scoop Guest House
25,Hamilton,US,84.99,39.18,-84.53,Six Acres Bed & Breakfast
29,Mayumba,GA,76.17,-3.43,10.66,LIKWALE LODGE
30,Jamestown,US,78.01,42.10,-79.24,Hampton Inn & Suites Jamestown

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))