In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

# Import the requests library.
import requests
# Import the API key.
from config import weather_api_key

# Import the datetime module from the datetime library.
from datetime import datetime

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

627

In [5]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [6]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1


# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
   
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

g Record 25 of Set 4 | khatanga
Processing Record 26 of Set 4 | magadan
Processing Record 27 of Set 4 | tungor
Processing Record 28 of Set 4 | stykkisholmur
Processing Record 29 of Set 4 | hofn
Processing Record 30 of Set 4 | allapalli
Processing Record 31 of Set 4 | yumen
Processing Record 32 of Set 4 | tombouctou
Processing Record 33 of Set 4 | xuanzhou
Processing Record 34 of Set 4 | azanka
Processing Record 35 of Set 4 | barcelos
Processing Record 36 of Set 4 | san carlos
Processing Record 37 of Set 4 | scarborough
Processing Record 38 of Set 4 | sao joao da barra
Processing Record 39 of Set 4 | mercedes
Processing Record 40 of Set 4 | mar del plata
Processing Record 41 of Set 4 | vallenar
Processing Record 42 of Set 4 | karabulak
Processing Record 43 of Set 4 | mehamn
Processing Record 44 of Set 4 | new philadelphia
Processing Record 45 of Set 4 | narsaq
Processing Record 46 of Set 4 | chokurdakh
Processing Record 47 of Set 4 | carnarvon
Processing Record 48 of Set 4 | siavonga
Processing Record 49 of Set 4 | atar
Processing Record 50 of Set 4 | yomitan
City not found. Skipping...
Processing Record 1 of Set 5 | arlit
Processing Record 2 of Set 5 | santa rosa
Processing Record 3 of Set 5 | alofi
Processing Record 4 of Set 5 | tacuarembo
Processing Record 5 of Set 5 | itoman
Processing Record 6 of Set 5 | thompson
Processing Record 7 of Set 5 | ilulissat
Processing Record 8 of Set 5 | kamenskoye
City not found. Skipping...
Processing Record 9 of Set 5 | tasiilaq
Processing Record 10 of Set 5 | iquique
Processing Record 11 of Set 5 | necochea
Processing Record 12 of Set 5 | plavsk
Processing Record 13 of Set 5 | barentsburg
City not found. Skipping...
Processing Record 14 of Set 5 | suraabad
Processing Record 15 of Set 5 | rio grande
Processing Record 16 of Set 5 | qui nhon
Processing Record 17 of Set 5 | kavaratti
Processing Record 18 of Set 5 | nantucket
Processing Record 19 of Set 5 | portland
Processing Record 20 of Set 5 | umzimvubu
City not found. Skipping...
Processing Record 21 of Set 5 | crixas
Processing Record 22 of Set 5 | illoqqortoormiut
City not found. Skipping...
Processing Record 23 of Set 5 | morro bay
Processing Record 24 of Set 5 | hasaki
Processing Record 25 of Set 5 | torbay
Processing Record 26 of Set 5 | aykhal
Processing Record 27 of Set 5 | kiruna
Processing Record 28 of Set 5 | sinfra
Processing Record 29 of Set 5 | mana
Processing Record 30 of Set 5 | codrington
Processing Record 31 of Set 5 | mirabad
Processing Record 32 of Set 5 | iqaluit
Processing Record 33 of Set 5 | bayburt
Processing Record 34 of Set 5 | kodinsk
Processing Record 35 of Set 5 | orangeville
Processing Record 36 of Set 5 | candido mendes
Processing Record 37 of Set 5 | ipixuna
Processing Record 38 of Set 5 | mecca
Processing Record 39 of Set 5 | beringovskiy
Processing Record 40 of Set 5 | diamantina
Processing Record 41 of Set 5 | praia da vitoria
Processing Record 42 of Set 5 | golden
Processing Record 43 of Set 5 | cidreira
Processing Record 44 of Set 5 | port hedland
Processing Record 45 of Set 5 | marawi
Processing Record 46 of Set 5 | baghdad
Processing Record 47 of Set 5 | bolungarvik
City not found. Skipping...
Processing Record 48 of Set 5 | challapata
Processing Record 49 of Set 5 | wajir
Processing Record 50 of Set 5 | pedernales
Processing Record 1 of Set 6 | toktogul
Processing Record 2 of Set 6 | walvis bay
Processing Record 3 of Set 6 | henties bay
Processing Record 4 of Set 6 | andapa
Processing Record 5 of Set 6 | hobyo
Processing Record 6 of Set 6 | adjumani
Processing Record 7 of Set 6 | monrovia
Processing Record 8 of Set 6 | chicama
Processing Record 9 of Set 6 | hami
Processing Record 10 of Set 6 | lamu
Processing Record 11 of Set 6 | omboue
Processing Record 12 of Set 6 | nsoko
Processing Record 13 of Set 6 | poum
Processing Record 14 of Set 6 | rawson
Processing Record 15 of Set 6 | quatre cocos
Processing Record 16 of Set 6 | karaul
City not found. Skipping...
Processing Record 17 of Set 6 | pirajui
Processing Record 18 of Set 6 | bose
Processing Record 19 of Set 6 | salalah
Processing Record 20 of Set 6 | mys shmidta
City not found. Skipping...
Processing Record 21 of Set 6 | hlohovec
Processing Record 22 of Set 6 | fairbanks
Processing Record 23 of Set 6 | port lincoln
Processing Record 24 of Set 6 | awbari
Processing Record 25 of Set 6 | los llanos de aridane
Processing Record 26 of Set 6 | havelock
Processing Record 27 of Set 6 | hambantota
Processing Record 28 of Set 6 | honiara
Processing Record 29 of Set 6 | te anau
Processing Record 30 of Set 6 | katsuura
Processing Record 31 of Set 6 | plesetsk
Processing Record 32 of Set 6 | provideniya
Processing Record 33 of Set 6 | ozernovskiy
Processing Record 34 of Set 6 | irbeyskoye
Processing Record 35 of Set 6 | conceicao da barra
Processing Record 36 of Set 6 | hithadhoo
Processing Record 37 of Set 6 | codajas
Processing Record 38 of Set 6 | cabra
Processing Record 39 of Set 6 | gorontalo
Processing Record 40 of Set 6 | artyk
City not found. Skipping...
Processing Record 41 of Set 6 | lasa
Processing Record 42 of Set 6 | aksarka
Processing Record 43 of Set 6 | nagornskiy
Processing Record 44 of Set 6 | bilma
Processing Record 45 of Set 6 | half moon bay
Processing Record 46 of Set 6 | solnechnyy
Processing Record 47 of Set 6 | pevek
Processing Record 48 of Set 6 | faya
Processing Record 49 of Set 6 | dzhalil
Processing Record 50 of Set 6 | fukue
Processing Record 1 of Set 7 | nhulunbuy
Processing Record 2 of Set 7 | tsienyane
City not found. Skipping...
Processing Record 3 of Set 7 | vardo
Processing Record 4 of Set 7 | berwick
Processing Record 5 of Set 7 | lagunillas
Processing Record 6 of Set 7 | yar-sale
Processing Record 7 of Set 7 | pangkalanbuun
Processing Record 8 of Set 7 | tiksi
Processing Record 9 of Set 7 | opunake
Processing Record 10 of Set 7 | marcona
City not found. Skipping...
Processing Record 11 of Set 7 | sao filipe
Processing Record 12 of Set 7 | hamilton
Processing Record 13 of Set 7 | oksfjord
Processing Record 14 of Set 7 | yambio
Processing Record 15 of Set 7 | bathsheba
Processing Record 16 of Set 7 | sisimiut
Processing Record 17 of Set 7 | korla
Processing Record 18 of Set 7 | cockburn town
Processing Record 19 of Set 7 | bela palanka
Processing Record 20 of Set 7 | isangel
Processing Record 21 of Set 7 | sorland
Processing Record 22 of Set 7 | gao
Processing Record 23 of Set 7 | dalbandin
Processing Record 24 of Set 7 | kyela
Processing Record 25 of Set 7 | amuntai
Processing Record 26 of Set 7 | saint-louis
Processing Record 27 of Set 7 | nguiu
City not found. Skipping...
Processing Record 28 of Set 7 | kjollefjord
Processing Record 29 of Set 7 | sao gabriel da cachoeira
Processing Record 30 of Set 7 | key west
Processing Record 31 of Set 7 | khanpur
Processing Record 32 of Set 7 | fethiye
Processing Record 33 of Set 7 | goundam
Processing Record 34 of Set 7 | faanui
Processing Record 35 of Set 7 | at-bashi
Processing Record 36 of Set 7 | tsihombe
City not found. Skipping...
Processing Record 37 of Set 7 | maltahohe
Processing Record 38 of Set 7 | trincomalee
Processing Record 39 of Set 7 | konstantinovskaya
Processing Record 40 of Set 7 | nortelandia
Processing Record 41 of Set 7 | san patricio
Processing Record 42 of Set 7 | muros
Processing Record 43 of Set 7 | broome
Processing Record 44 of Set 7 | formoso do araguaia
City not found. Skipping...
Processing Record 45 of Set 7 | thinadhoo
Processing Record 46 of Set 7 | virginia beach
Processing Record 47 of Set 7 | margate
Processing Record 48 of Set 7 | pochutla
Processing Record 49 of Set 7 | khuzhir
Processing Record 50 of Set 7 | samana
Processing Record 1 of Set 8 | georgiyevskoye
Processing Record 2 of Set 8 | kitimat
Processing Record 3 of Set 8 | nemuro
Processing Record 4 of Set 8 | tigil
Processing Record 5 of Set 8 | yulara
Processing Record 6 of Set 8 | arroio grande
Processing Record 7 of Set 8 | najran
Processing Record 8 of Set 8 | longyearbyen
Processing Record 9 of Set 8 | aquin
Processing Record 10 of Set 8 | havre-saint-pierre
Processing Record 11 of Set 8 | nanortalik
Processing Record 12 of Set 8 | port hardy
Processing Record 13 of Set 8 | kapit
Processing Record 14 of Set 8 | singaraja
Processing Record 15 of Set 8 | kruisfontein
Processing Record 16 of Set 8 | koygorodok
Processing Record 17 of Set 8 | bafia
Processing Record 18 of Set 8 | zheleznodorozhnyy
Processing Record 19 of Set 8 | taoudenni
Processing Record 20 of Set 8 | te karaka
Processing Record 21 of Set 8 | bakau
Processing Record 22 of Set 8 | belushya guba
City not found. Skipping...
Processing Record 23 of Set 8 | kigoma
Processing Record 24 of Set 8 | mitu
Processing Record 25 of Set 8 | iranshahr
Processing Record 26 of Set 8 | vila franca do campo
Processing Record 27 of Set 8 | sept-iles
Processing Record 28 of Set 8 | novita
Processing Record 29 of Set 8 | pangoa
Processing Record 30 of Set 8 | lavrentiya
Processing Record 31 of Set 8 | flin flon
Processing Record 32 of Set 8 | madimba
Processing Record 33 of Set 8 | voznesenye
Processing Record 34 of Set 8 | dunedin
Processing Record 35 of Set 8 | cap malheureux
Processing Record 36 of Set 8 | lucea
Processing Record 37 of Set 8 | tagusao
Processing Record 38 of Set 8 | tabou
Processing Record 39 of Set 8 | tuatapere
Processing Record 40 of Set 8 | sao francisco
Processing Record 41 of Set 8 | vaitupu
City not found. Skipping...
Processing Record 42 of Set 8 | dambulla
Processing Record 43 of Set 8 | pangai
Processing Record 44 of Set 8 | petropavlovsk-kamchatskiy
Processing Record 45 of Set 8 | mrirt
City not found. Skipping...
Processing Record 46 of Set 8 | skibbereen
Processing Record 47 of Set 8 | vostok
Processing Record 48 of Set 8 | marsabit
Processing Record 49 of Set 8 | calamar
Processing Record 50 of Set 8 | el badari
City not found. Skipping...
Processing Record 1 of Set 9 | carauari
Processing Record 2 of Set 9 | haines junction
Processing Record 3 of Set 9 | sidi ali
Processing Record 4 of Set 9 | alexandria
Processing Record 5 of Set 9 | santa barbara
Processing Record 6 of Set 9 | grindavik
Processing Record 7 of Set 9 | darhan
Processing Record 8 of Set 9 | kleck
City not found. Skipping...
Processing Record 9 of Set 9 | ambulu
Processing Record 10 of Set 9 | kamaishi
Processing Record 11 of Set 9 | goderich
Processing Record 12 of Set 9 | innisfail
Processing Record 13 of Set 9 | illela
Processing Record 14 of Set 9 | manicore
Processing Record 15 of Set 9 | sambava
Processing Record 16 of Set 9 | tessalit
Processing Record 17 of Set 9 | haverfordwest
Processing Record 18 of Set 9 | meulaboh
Processing Record 19 of Set 9 | rensvik
Processing Record 20 of Set 9 | rapid city
Processing Record 21 of Set 9 | ugoofaaru
Processing Record 22 of Set 9 | krizevci
Processing Record 23 of Set 9 | egvekinot
Processing Record 24 of Set 9 | santarem
Processing Record 25 of Set 9 | dingle
Processing Record 26 of Set 9 | manoel urbano
Processing Record 27 of Set 9 | sharanga
Processing Record 28 of Set 9 | okha
Processing Record 29 of Set 9 | alyangula
Processing Record 30 of Set 9 | okhotsk
Processing Record 31 of Set 9 | mandalgovi
Processing Record 32 of Set 9 | lolua
City not found. Skipping...
Processing Record 33 of Set 9 | tucano
Processing Record 34 of Set 9 | nyurba
Processing Record 35 of Set 9 | aklavik
Processing Record 36 of Set 9 | aojiang
Processing Record 37 of Set 9 | fereydunshahr
Processing Record 38 of Set 9 | wanning
Processing Record 39 of Set 9 | mahon
Processing Record 40 of Set 9 | ilhabela
Processing Record 41 of Set 9 | tieli
Processing Record 42 of Set 9 | inhambane
Processing Record 43 of Set 9 | hirara
Processing Record 44 of Set 9 | caravelas
Processing Record 45 of Set 9 | susanville
Processing Record 46 of Set 9 | laguna
Processing Record 47 of Set 9 | bandar-e anzali
Processing Record 48 of Set 9 | alekseyevsk
Processing Record 49 of Set 9 | whyalla
Processing Record 50 of Set 9 | haibowan
City not found. Skipping...
Processing Record 1 of Set 10 | sulangan
Processing Record 2 of Set 10 | vredendal
Processing Record 3 of Set 10 | maneadero
Processing Record 4 of Set 10 | parabel
Processing Record 5 of Set 10 | belawan
Processing Record 6 of Set 10 | serov
Processing Record 7 of Set 10 | erenhot
Processing Record 8 of Set 10 | yashkul
Processing Record 9 of Set 10 | cherskiy
Processing Record 10 of Set 10 | khandyga
Processing Record 11 of Set 10 | mahajanga
Processing Record 12 of Set 10 | lucapa
Processing Record 13 of Set 10 | mount isa
Processing Record 14 of Set 10 | nanchang
Processing Record 15 of Set 10 | bargal
City not found. Skipping...
Processing Record 16 of Set 10 | dawlatabad
Processing Record 17 of Set 10 | comlosu mare
Processing Record 18 of Set 10 | buchanan
Processing Record 19 of Set 10 | peterhead
Processing Record 20 of Set 10 | geraldton
Processing Record 21 of Set 10 | college
Processing Record 22 of Set 10 | salinopolis
Processing Record 23 of Set 10 | anadyr
Processing Record 24 of Set 10 | tsabong
Processing Record 25 of Set 10 | antofagasta
Processing Record 26 of Set 10 | moyale
Processing Record 27 of Set 10 | sinnamary
Processing Record 28 of Set 10 | sao felix do xingu
Processing Record 29 of Set 10 | chanderi
Processing Record 30 of Set 10 | tateyama
Processing Record 31 of Set 10 | north bend
Processing Record 32 of Set 10 | ipora
Processing Record 33 of Set 10 | vao
Processing Record 34 of Set 10 | ruatoria
City not found. Skipping...
Processing Record 35 of Set 10 | boguchany
Processing Record 36 of Set 10 | pedro juan caballero
Processing Record 37 of Set 10 | asyut
Processing Record 38 of Set 10 | zhitikara
City not found. Skipping...
Processing Record 39 of Set 10 | el tigre
Processing Record 40 of Set 10 | lecce
Processing Record 41 of Set 10 | neiafu
Processing Record 42 of Set 10 | wagar
Processing Record 43 of Set 10 | conceicao do araguaia
Processing Record 44 of Set 10 | tongliao
Processing Record 45 of Set 10 | thoen
Processing Record 46 of Set 10 | nelson bay
Processing Record 47 of Set 10 | lensk
Processing Record 48 of Set 10 | lewistown
Processing Record 49 of Set 10 | roma
Processing Record 50 of Set 10 | bowen
Processing Record 1 of Set 11 | loreto
Processing Record 2 of Set 11 | hispania
Processing Record 3 of Set 11 | abu kamal
Processing Record 4 of Set 11 | asenovgrad
Processing Record 5 of Set 11 | baglung
Processing Record 6 of Set 11 | marion
Processing Record 7 of Set 11 | okato
Processing Record 8 of Set 11 | kilindoni
Processing Record 9 of Set 11 | scottsburgh
City not found. Skipping...
Processing Record 10 of Set 11 | yunjinghong
City not found. Skipping...
Processing Record 11 of Set 11 | jiroft
City not found. Skipping...
Processing Record 12 of Set 11 | noyabrsk
Processing Record 13 of Set 11 | tawkar
City not found. Skipping...
Processing Record 14 of Set 11 | cermik
Processing Record 15 of Set 11 | tete
Processing Record 16 of Set 11 | one hundred mile house
City not found. Skipping...
Processing Record 17 of Set 11 | uglegorsk
Processing Record 18 of Set 11 | kulhudhuffushi
Processing Record 19 of Set 11 | puerto escondido
Processing Record 20 of Set 11 | suzu
City not found. Skipping...
Processing Record 21 of Set 11 | gasa
Processing Record 22 of Set 11 | tura
Processing Record 23 of Set 11 | panaba
Processing Record 24 of Set 11 | christchurch
Processing Record 25 of Set 11 | svetlogorsk
Processing Record 26 of Set 11 | celestun
Processing Record 27 of Set 11 | borogontsy
Processing Record 28 of Set 11 | shahrud
Processing Record 29 of Set 11 | bhadra
Processing Record 30 of Set 11 | crab hill
City not found. Skipping...
Processing Record 31 of Set 11 | sioux lookout
Processing Record 32 of Set 11 | ejido
Processing Record 33 of Set 11 | navolato
Processing Record 34 of Set 11 | ondjiva
Processing Record 35 of Set 11 | aflu
City not found. Skipping...
Processing Record 36 of Set 11 | louisbourg
City not found. Skipping...
Processing Record 37 of Set 11 | riviere-au-renard
Processing Record 38 of Set 11 | biswan
Processing Record 39 of Set 11 | hereford
Processing Record 40 of Set 11 | kyenjojo
Processing Record 41 of Set 11 | riesi
Processing Record 42 of Set 11 | itiuba
Processing Record 43 of Set 11 | cumana
Processing Record 44 of Set 11 | mairana
Processing Record 45 of Set 11 | umm kaddadah
Processing Record 46 of Set 11 | wiarton
Processing Record 47 of Set 11 | lorengau
Processing Record 48 of Set 11 | nizhniy kuranakh
Processing Record 49 of Set 11 | rosendal
Processing Record 50 of Set 11 | camacha
Processing Record 1 of Set 12 | sakakah
Processing Record 2 of Set 12 | tarma
Processing Record 3 of Set 12 | sines
Processing Record 4 of Set 12 | hay river
Processing Record 5 of Set 12 | buraydah
Processing Record 6 of Set 12 | hailar
Processing Record 7 of Set 12 | kassala
Processing Record 8 of Set 12 | guaranda
Processing Record 9 of Set 12 | palasa
Processing Record 10 of Set 12 | am timan
Processing Record 11 of Set 12 | atbasar
Processing Record 12 of Set 12 | burnie
Processing Record 13 of Set 12 | vysha
Processing Record 14 of Set 12 | miri
Processing Record 15 of Set 12 | bubaque
Processing Record 16 of Set 12 | bucerias
Processing Record 17 of Set 12 | swadlincote
Processing Record 18 of Set 12 | touros
Processing Record 19 of Set 12 | sola
Processing Record 20 of Set 12 | lincoln
Processing Record 21 of Set 12 | takoradi
Processing Record 22 of Set 12 | pangnirtung
Processing Record 23 of Set 12 | bantry
Processing Record 24 of Set 12 | loandjili
Processing Record 25 of Set 12 | alice springs
Processing Record 26 of Set 12 | lumphat
Processing Record 27 of Set 12 | yurino
Processing Record 28 of Set 12 | charkhi dadri
Processing Record 29 of Set 12 | mahanoro
Processing Record 30 of Set 12 | hihifo
City not found. Skipping...
Processing Record 31 of Set 12 | potiskum
Processing Record 32 of Set 12 | makakilo city
Processing Record 33 of Set 12 | liverpool
Processing Record 34 of Set 12 | iringa
Processing Record 35 of Set 12 | samarai
Processing Record 36 of Set 12 | saint-augustin
Processing Record 37 of Set 12 | bontang
Processing Record 38 of Set 12 | akom
Processing Record 39 of Set 12 | maceio
Processing Record 40 of Set 12 | kikwit
Processing Record 41 of Set 12 | bridlington
Processing Record 42 of Set 12 | prieska
Processing Record 43 of Set 12 | paragominas
Processing Record 44 of Set 12 | thakurgaon
Processing Record 45 of Set 12 | rochefort
Processing Record 46 of Set 12 | broken hill
Processing Record 47 of Set 12 | auki
Processing Record 48 of Set 12 | segamat
Processing Record 49 of Set 12 | mae hong son
Processing Record 50 of Set 12 | bayevo
Processing Record 1 of Set 13 | viedma
Processing Record 2 of Set 13 | raudeberg
Processing Record 3 of Set 13 | santiago del estero
Processing Record 4 of Set 13 | tasbuget
City not found. Skipping...
Processing Record 5 of Set 13 | yamada
Processing Record 6 of Set 13 | trapani
Processing Record 7 of Set 13 | narrabri
Processing Record 8 of Set 13 | nizwa
Processing Record 9 of Set 13 | panalingaan
Processing Record 10 of Set 13 | deh rawud
City not found. Skipping...
Processing Record 11 of Set 13 | port-cartier
Processing Record 12 of Set 13 | sabang
Processing Record 13 of Set 13 | nyamati
Processing Record 14 of Set 13 | mahebourg
Processing Record 15 of Set 13 | tumannyy
City not found. Skipping...
Processing Record 16 of Set 13 | ostrovnoy
Processing Record 17 of Set 13 | kibondo
Processing Record 18 of Set 13 | paradwip
City not found. Skipping...
Processing Record 19 of Set 13 | camingawan
Processing Record 20 of Set 13 | lyngseidet
Processing Record 21 of Set 13 | hazorasp
Processing Record 22 of Set 13 | santo antonio do taua
Processing Record 23 of Set 13 | matara
Processing Record 24 of Set 13 | teknaf
Processing Record 25 of Set 13 | xuchang
Processing Record 26 of Set 13 | jalu
Processing Record 27 of Set 13 | pak thong chai
-----------------------------
Data Retrieval Complete
-----------------------------

In [7]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ramon,16.78,121.53,73.99,89,18,2.46,PH,2020-07-06 20:07:56
1,Rikitea,-23.12,-134.97,73.71,81,93,9.10,PF,2020-07-06 20:07:56
2,Tevaitoa,-16.78,-151.50,79.36,79,66,16.28,PF,2020-07-06 20:07:56
3,Panguna,-6.32,155.48,67.24,95,95,1.99,PG,2020-07-06 20:07:56
4,Ribeira Grande,38.52,-28.70,73.40,64,20,11.41,PT,2020-07-06 20:07:56
5,Kavieng,-2.57,150.80,82.15,77,73,13.73,PG,2020-07-06 20:07:57
6,Flinders,-34.58,150.86,48.00,84,13,1.01,AU,2020-07-06 20:07:57
7,Bambous Virieux,-20.34,57.76,73.40,94,75,4.70,MU,2020-07-06 20:07:57
8,Chapais,49.78,-74.85,78.80,26,1,5.82,CA,2020-07-06 20:07:57
9,Albany,42.60,-73.97,89.01,34,5,5.10,US,2020-07-06 20:05:02

In [8]:
new_column_order = ["City", "Country", "Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]

In [9]:
city_data_df = city_data_df[new_column_order]

In [10]:
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Ramon,PH,2020-07-06 20:07:56,16.78,121.53,73.99,89,18,2.46
1,Rikitea,PF,2020-07-06 20:07:56,-23.12,-134.97,73.71,81,93,9.10
2,Tevaitoa,PF,2020-07-06 20:07:56,-16.78,-151.50,79.36,79,66,16.28
3,Panguna,PG,2020-07-06 20:07:56,-6.32,155.48,67.24,95,95,1.99
4,Ribeira Grande,PT,2020-07-06 20:07:56,38.52,-28.70,73.40,64,20,11.41
5,Kavieng,PG,2020-07-06 20:07:57,-2.57,150.80,82.15,77,73,13.73
6,Flinders,AU,2020-07-06 20:07:57,-34.58,150.86,48.00,84,13,1.01
7,Bambous Virieux,MU,2020-07-06 20:07:57,-20.34,57.76,73.40,94,75,4.70
8,Chapais,CA,2020-07-06 20:07:57,49.78,-74.85,78.80,26,1,5.82
9,Albany,US,2020-07-06 20:05:02,42.60,-73.97,89.01,34,5,5.10

In [11]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")